/*
# Front-end Style Guide

## Layout

The designs were created to the following widths:

- Mobile: 375px
- Desktop: 1440px

## Colors

### Primary

- Pale blue: hsl(225, 100%, 94%)
- Bright blue: hsl(245, 75%, 52%)

### Neutral

- Very pale blue: hsl(225, 100%, 98%)
- Desaturated blue: hsl(224, 23%, 55%)
- Dark blue: hsl(223, 47%, 23%)

## Typography

### Body Copy

- Font size (paragraph): 16px

### Font

- Family: [Red Hat Display](https://fonts.google.com/specimen/Red+Hat+Display)
- Weights: 500, 700, 900

*/

/* Global Styles Here */

:root {
  /* Primary Colors */

  --PrimaryColorPaleBlue: hsl(225, 100%, 94%);
  --PrimaryColorBrightBlue: hsl(245, 75%, 52%);

  /* Neutral Colors */

  --NeutralColorVeryPaleBlue: hsl(225, 100%, 98%);
  --NeutralColorDesaturatedBlue: hsl(224, 23%, 55%);
  --NeutralColorDarkBlue: hsl(223, 47%, 23%);

  /* Fonts */

  --FontFamily: "Red Hat Display", sans-serif;
  --FontWeightLightBold: 500;
  --FontWeightMediumBold: 700;
  --FontWeightDarkBold: 900;
}

*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("https://raw.githubusercontent.com/CreatiqueMedia/CM-STG-Blog-Posts/CM-STG/CM-STG-Post-0006-20220927-Order%20Summary-Component/assets/pattern-background-desktop.svg");
  background-repeat: no-repeat;
  flex-direction: column;
  background-size: contain;
  background-color: var(--PrimaryColorPaleBlue);
  font-family: var(--FontFamily);
  padding: auto;
  width: 100vw;
  min-height: 100vh;
}

/* Card Container Styles */

.card--container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  width: 375px;
  height: 600px;
  background-color: hsl(225, 100%, 98%);
  border-radius: 24px;
  margin: 2% 0 2% 0;
  filter: drop-shadow(0 16px 10px rgba(26, 17, 120, 0.2));
}

/* Card Container Section 1 */

.card--sec--1--hero {
  background-image: url("https://raw.githubusercontent.com/CreatiqueMedia/CM-STG-Blog-Posts/CM-STG/CM-STG-Post-0006-20220927-Order%20Summary-Component/assets/illustration-hero.svg");
  position: relative;
  border-radius: 24px 24px 0 0;
  top: -56px;
  width: 375px;
}

.card--sec--1--heading {
  margin: -100px 0 24px 0;
  font-weight: var(--FontWeightDarkBold);
}

.card--sec--1--text {
  color: var(--NeutralColorDesaturatedBlue);
  margin: 10%;
  font-weight: var(--FontWeightLightBold);
}

/* Card Container Section 2 Styles */

.card--sec--2 {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--PrimaryColorPaleBlue);
  border-radius: 12px;
  padding: 2%;
  background-color: rgba(224, 232, 255, 0.3);
}

.card--sec--2--1--icon {
  margin: 0 24px 0 0;
}

.card--sec--2--2 {
  display: flex;
  justify-content: center;
  align-items: center;
}

.card--sec--2--2--parg {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 0 86px 0 0;
}

.card--sec--2--2--parg--2--spn2 {
  color: var(--NeutralColorDesaturatedBlue);
}

/* Card Container Section 3 Styles */

.card--sec--3 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.card--sec--3--btn {
  padding: 16px 100px 16px 100px;
  background-color: var(--PrimaryColorBrightBlue);
  color: var(--NeutralColorVeryPaleBlue);
  font-weight: var(--FontWeightMediumBold);
  border-radius: 12px;
  margin: 24px 0 24px 0;
  filter: drop-shadow(0 16px 10px rgba(26, 17, 120, 0.2));
  cursor: pointer;
}

.card--sec--3--link {
  color: var(--NeutralColorDesaturatedBlue);
  text-decoration: none;
}

/* Footer Section Styles */

footer {
  font-size: 11px;
  text-align: center;
  margin: 24px 0 0 0;
}

footer a {
  color: hsl(228, 45%, 44%);
}

/* Mobile Queries */

@media only screen and (min-width: 275px) and (max-width: 1440px) {
  body {
    background-image: none;
  }
}
